
//------------------------------
// 🍕 Component style overrides
//------------------------------

@import '../globals/scss/vars';


// Accordion
.#{$prefix}--accordion__item {
  border-bottom: 1px solid $ui-03;
  border-top: 0;

  &:last-child {
    border-bottom: none;
  }
}


// Button
.#{$prefix}--btn{
  border-radius: 8px;
}

.#{$prefix}--btn--secondary{
  background-color: $ui-01;
  color: $text-01;
  &:hover,
  &:focus {
    background: $hover-row;
    color: $interactive-01;
  }
}


//Cards Styling
.#{$prefix}--card{
  background-color: $ui-02;
  border-radius: 6px;
  padding: $spacing-04 $spacing-05
}

// Checkbox
.#{$prefix}--checkbox-label::before{
  border: 1px solid $ui-03;
  border-radius: 3px;
}

.#{$prefix}--checkbox:checked + .#{$prefix}--checkbox-label::before,
.#{$prefix}--checkbox:indeterminate + .#{$prefix}--checkbox-label::before,
.#{$prefix}--checkbox-label[data-contained-checkbox-state='true']::before,
.#{$prefix}--checkbox-label[data-contained-checkbox-state='mixed']::before {
  background-color: $active-primary;
  border-color: $active-primary;
  border-width: 1px;
}


// Code snippet
.#{$prefix}--snippet{
  border-radius: 8px;
}

.#{$prefix}--snippet--single{
  border-radius: 0px;
}


// Date-Picker
.#{$prefix}--date-picker__input {
  border-bottom: 0;
  border: 1px solid $ui-03;
  border-radius: 6px;
}

.flatpickr-calendar.open {
  background-color: $ui-02;
  border-radius: 6px;
}

.flatpickr-prev-month,
.flatpickr-next-month, .flatpickr-day {
  border-radius: 4px;
}

.flatpickr-current-month .cur-month, .numInputWrapper {
  border-radius: 2px;
}


// Dropdown
.#{$prefix}--dropdown, .#{$prefix}--list-box, .#{$prefix}--list-box--light{
  border-bottom: 0;
  border: 1px solid $ui-03;
}

.#{$prefix}--dropdown, .#{$prefix}--dropdown--invalid,
.#{$prefix}--dropdown--open .#{$prefix}--dropdown-list,
.#{$prefix}--list-box {
  border-radius: 6px;
}

.#{$prefix}--list-box__selection--multi {
  background-color: $interactive-01;
  border: none;
}

.#{$prefix}--list-box__selection--multi > svg:hover {
  background-color: $hover-primary;
}


// File Uploader
.#{$prefix}--file__drop-container, .#{$prefix}--file__selected-file {
  border-radius: 8px;
}

.#{$prefix}--file-browse-btn {
  &:hover,
  &:focus {
    outline: none;
    .#{$prefix}--file__drop-container {
      outline: none;
      border: 2px dashed $interactive-01;
    }
  }
}


// Input
.#{$prefix}--text-input, .#{$prefix}--text-area {
  border-bottom: 0;
  border: 1px solid $ui-03;
  border-radius: 6px;
}

.#{$prefix}--text-input:disabled, .#{$prefix}--text-area:disabled {
  border: 1px solid $ui-03;
}


// Modal

.#{$prefix}--modal-container {
  padding: $spacing-05;
  border-radius: 8px;
  background-color: $ui-background;
}
.#{$prefix}--modal-footer {
  height: max-content;
  button.#{$prefix}--btn {
    flex: 0 1 30%; 
    margin-left: $spacing-02;
    min-height: 1rem;
    height: 1rem;
    padding: 1rem;
  }
}
@media(min-width:768px){
  .#{$prefix}--modal-content--overflow-indicator{
    display: none;
  }
}


// Notification
.#{$prefix}--inline-notification, .#{$prefix}--toast-notification {
  border-radius: 8px;
}


// Number
.#{$prefix}--number input[type='number'] {
  border-bottom: 0;
  border: 1px solid $ui-03;
  border-radius: 6px;
}

.#{$prefix}--number input[type='number']:disabled {
  border: 1px solid $ui-03;
}


//Overflow menu items
.#{$prefix}--header__action--active{
  border: none;
}
.#{$prefix}--overflow-menu.#{$prefix}--overflow-menu--open, .#{$prefix}--overflow-menu.#{$prefix}--overflow-menu--open .#{$prefix}--overflow-menu__trigger{
  box-shadow: none;
  background-color: transparent;
}
.#{$prefix}--overflow-menu:hover, .#{$prefix}--overflow-menu__trigger:hover {
  background: transparent;
}
.#{$prefix}--overflow-menu.#{$prefix}--overflow-menu--open:hover{
  background-color: transparent;
}
.#{$prefix}--overflow-menu-options--open{
  background: $ui-02;
  padding: $spacing-02;
  border-radius: 6px;
}

.#{$prefix}--overflow-menu-options__btn{
  color: $text-01;
}

// Pagination
.#{$prefix}--pagination {
  background: $ui-background;
}


// Radio
.#{$prefix}--radio-button:checked
  + .#{$prefix}--radio-button__label
  .#{$prefix}--radio-button__appearance {
    border-color: $interactive-01;
    &::before {
      background: $interactive-01;
    }
  }


// Search
.#{$prefix}--search-input {
  border-bottom: 0;
  border: 1px solid $ui-03;
  border-radius: 6px;
}

.#{$prefix}--search-input:disabled {
  border: 1px solid $ui-03;
}


// Table
.#{$prefix}--data-table thead, .bx--data-table th, .bx--data-table th.bx--table-column-checkbox, .bx--table-sort,
.#{$prefix}--data-table tbody, .#{$prefix}--data-table td, .#{$prefix}--data-table tbody th {
  background-color: $ui-02;
}

.#{$prefix}--table-sort {
  padding-right: $spacing-05;
  padding-left: $spacing-05;
  &:hover {
    background-color: $ui-01 ;
  }
}

.#{$prefix}--table-sort.#{$prefix}--table-sort--active {
  background-color: $ui-02;
  &:hover {
    background-color: $ui-01 ;
  }
}

.#{$prefix}--data-table--zebra
  tbody
  tr:not(.#{$prefix}--parent-row):nth-child(odd)
  td {
  background-color: $ui-01;
  border-top: 1px solid $ui-01;
  border-bottom: 1px solid $ui-01;
}

.#{$prefix}--data-table-header {
  border-radius: 8px;
}

.#{$prefix}--toolbar-content {
  background-color: $ui-background;
}

.#{$prefix}--table-toolbar {
  background-color: $ui-background;
  margin-top: $spacing-02;
  margin-bottom: $spacing-02;
}

.#{$prefix}--toolbar-search-container-expandable .#{$prefix}--search .#{$prefix}--search-magnifier {
  border-radius: 6px;
}


// Tiles
.#{$prefix}--tile, .#{$prefix}--tile--clickable, .bx--tile--selectable {
  border-radius: 8px;
  border: 1px solid transparent;
}

.#{$prefix}--tile--clickable, .bx--tile--selectable {
  margin-bottom: 4px;
}

.#{$prefix}--tile--is-selected {
  border: 1px solid $ui-05;
  outline: none;
  &:focus {
    outline: none;
  }
}


// Time picker
.#{$prefix}--time-picker .#{$prefix}--select-input {
  border-bottom: 0;
  border: 1px solid $ui-03;
  border-radius: 6px;
}

.#{$prefix}--time-picker .#{$prefix}--select-input:disabled {
  border: 1px solid $ui-03;
}


// Toggle
.#{$prefix}--toggle-input:checked + .#{$prefix}--toggle-input__label > .#{$prefix}--toggle__switch::before {
  background-color: $support-04;
}


// Tooltip
.#{$prefix}--tooltip {
  border-radius: 8px;
}
.#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition + .#{$prefix}--assistive-text {
  border-radius: 8px;
}


// UI-Shell
.#{$prefix}--header {
  background-color: $ui-02;
  border-color: $ui-01;
  padding: 0 2rem;
}
a.#{$prefix}--header__name{
  padding: 0 2rem 0 0;
}
a.#{$prefix}--header__name, a.#{$prefix}--header__name:hover {
  color: $text-01;
}

.#{$prefix}--header__nav::before {
  background-color: $ui-03;
}

a.#{$prefix}--header__menu-item {
  color: $text-01;
  height: calc(100% - 10px);
  margin: 5px;
  border-radius: 6px;
}

a.#{$prefix}--header__menu-item:hover {
  color: $text-01;
  background-color: $ui-01;
}

a.#{$prefix}--header__menu-item:active {
  color: $text-01;
  background-color: $ui-03;
}

a.#{$prefix}--header__menu-item:focus {
  color: $text-01;
  font-weight: 500;
  background-color: $ui-01;
}

a.#{$prefix}--header__menu-item[aria-current='page'], .#{$prefix}--header__menu-item--current {
  background-color: $ui-03;
  font-weight: 500;
}

a.#{$prefix}--header__menu-item[aria-current='page']::after, .#{$prefix}--header__menu-item--current::after {
  display: none;
}

.#{$prefix}--header__menu-trigger > svg, .#{$prefix}--header__menu-arrow, a.#{$prefix}--header__menu-item:hover > svg {
  fill: $text-01;
}

.#{prefix}--header__action > svg {
  fill: $text-01;
}

.#{$prefix}--header__action {
  border-radius: 6px;
}

.#{$prefix}--header__action:hover {
  background-color: transparent;
}

.#{prefix}--header__global {
  align-items: center;
}

.#{$prefix}--header__menu-title[aria-expanded='true'] {
  color: $text-01;
  background-color: $ui-02;
}

.#{$prefix}--header__menu-title[aria-expanded='true'] + .#{$prefix}--header__menu {
  background-color: $ui-02;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.#{$prefix}--header__menu-title[aria-expanded='true'] + .#{$prefix}--header__menu .bx--header__menu-item:hover {
  color: $text-01;
  background-color: $ui-01;
}

