
@import '../globals/scss/_theme';

// Pass in the theme to override
$carbon--theme: map-merge($carbon--theme--white, (
  // Specify your overrides
  interactive-01: #515BC2,
  interactive-03: #515BC2,
  interactive-04: #454FB4,
  danger: #E32E47,
  ui-01: #E4E4EE,
  ui-02: #FFFFFF,
  ui-03: #D1D2E4,
  ui-04: #999CB8,
  ui-05: #535567,
  text-01: #1A1B22,
  text-02: #999CB8,
  text-03: #D1D2E4,
  text-04: #ffffff,
  icon-01: #999CB8,
  icon-02: #535567,
  icon-03: #ffffff,
  link-01: #515BC2,
  field-01: #E4E4EE,
  field-02: #ffffff,
  inverse-01: #ffffff,
  inverse-02: #2C2D34,
  support-01: #E32E47,
  support-02: #3BB091,
  support-03: #F8BE49,
  support-04: #515BC2,
  inverse-support-01: #F96075,
  inverse-support-02: #47BE9E,
  inverse-support-03: #FCC85F,
  inverse-support-04: #656FD5,
  overlay-01: rgba(23, 23, 23, 0.5),
  focus: #8D97F9,
  hover-primary: #454FB4,
  active-primary: #515BC2,
  hover-primary-text: #454FB4,
  hover-secondary: #535567,
  active-secondary: #7B7E94,
  hover-tertiary: #454FB4,
  active-tertiary: #454FB4,
  hover-ui: #E4E4EE,
  active-ui: #D1D2E4,
  selected-ui: #E4E4EE,
  hover-selected-ui: #D1D2E4,
  hover-danger: #D5233C,
  active-danger: #D21C35,
  hover-row: #E4E4EE,
  visited-link: #8A3EFC,
  disabled-01: #E4E4EE,
  disabled-02: #E4E4EE,
  disabled-03: #BABCD2,
  highlight: #D0E1FF,
  skeleton-01: #BABCD2,
  skeleton-02: #E4E4EE,
  brand-01: #5B84E3,
  brand-02: #36CFDA,
  brand-03: #515BC2
));

@include carbon--theme();